LAW_API_KEY=
LAW_API_SEARCH_URL=http://www.law.go.kr/DRF/lawSearch.do
LAW_API_SERVICE_URL=http://www.law.go.kr/DRF/lawService.do
CACHE_TTL_HOURS=24
CACHE_MAX_ITEMS=1000
SERVER_PORT=8001
LAW_API_TIMEOUT_SECONDS=15
LAW_API_MAX_CONCURRENCY=5
